* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #FCFBF6;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    z-index: 50;
}

.logo {
    font-size: 2em;
    color: black;
    user-select: none;
}

.navigation button {
    background: transparent;
    border: 2px solid #412234;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    color: #412234;
    padding: 10px 20px;
    margin: 0 10px;
    transition: .5s;
}

.navigation button:hover {
    background: #412234;
    color: #fff;
}

.profile {
    display: flex;
    align-items: center;
}

.profile-btn {
    background: transparent;
    border: 2px solid #412234;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    color: #412234;
    padding: 10px 20px;
    transition: .5s;
}

.profile-btn:hover {
    background: #412234;
    color: #fff;
}

.app,
.events,
.dailies {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffc8577F;
    border: 5px solid #412234;
    border-radius: 8px;
    max-width: 90vw;
    overflow-y: auto;
}

.app::-webkit-scrollbar {
    width: 0 !important
}

.table-header {
    height: 10%;
    width: 100%;
    background-color: #412234;
    padding: .8rem 1rem;
    color: #FCFBF6;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.table-body {
    width: 100%;
    max-height: 89%;
    background-color: transparent;
}

table {
    width: 100%;
    table-layout: auto;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #412234;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #ffc8576F;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
}

.status.complete {
    background-color: #86e49d;
    color: #006b21;
}

.status.in-progress {
    background-color: #fdf66c;
    color: #704300;
}

.status.not-started {
    background-color: #ff9292;
    color: #f8f8f8;
}

main.events-table,
main.dailies {
    padding: 20px;
    background-color: #bdd9bf;
    border-radius: .8rem;
    box-shadow: 0 .4rem .8rem #0005;
}

main.table-below .table-body {
    height: 100%;
}

main.table-below table {
    width: 100%;
    height: 100%;
}

.add_new,
.btn {
    background-color: #58394b;
    border: solid 3px #412234;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 10px;
}

.add_new:hover,
.btn:hover {
    background-color: #58394b;
    border: solid 3px #412234;
}

.plus-button {
    width: 30px;
    height: 30px;
    background-color: #412234;
    border-radius: 5px;
}

.edit-button,
.done-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#task {
    display: grid;
    gap: 20px;
}

#tasks div {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #58394b;
    color: white;
    border-radius: 6px;
}

.profile-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.profile-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.profile-modal-close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.profile-modal-close:hover {
    color: black;
    text-decoration: none;
}

.profile-modal-content h2,
.profile-modal-content p {
    color: #412234;
}

.profile-modal-content strong {
    font-weight: bold;
}

@media screen and (min-width: 768px) {

    .app,
    .events,
    .dailies {
        max-width: 80vw;
    }
}

@media screen and (min-width: 1024px) {

    .app,
    .events,
    .dailies {
        max-width: 70vw;
    }
}