@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --border: #A7A7A7;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-left: 5vw;
}

a {
    color: #412234;
    font-style: normal;
    text-decoration: none;
  }

.top{
    position: fixed;
    display: flex;
    width: 90%;

    z-index: 2;
}

.titleHolder {
    margin: 0;
    
    width: 20%;
    height: 5%;

}

.title {
    font-weight: bold;
    font-size: 32px;
    color: #412234;
}

.buttonHolder {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}


.button {
    width: 9vw;
    height: 6vh;
    border: 2px #412234;
    background-color: #412234;
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
    z-index: 1;
    position: relative;
}

.button:hover {
    border: 2px var(--border);
    border-style: solid;
    background-color: var(--border);
    transition: 0.2s;
}


.character {
    border: 2px var(--border);
    border-style: solid;
    background-color: var(--border);
}

.clickable {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}


.buttonText {
    position: absolute;
    font-size: 24px;
    color: white;
    z-index: 2;
}

.mainHolder {
    display: flex;
    margin: 0;
    height: 80vh;
    width: 100%;

}

.mainDiv {
    margin-top: 12vh;
    position: absolute;
    height: 80vh;
    width: 80%;

    display: flex;

}

.backPlate {
    position: fixed;
    margin: 0;
    height: 80vh;
    width: 90%;
    border: 2px var(--border);
    border-style: solid;
    background-color: rgb(255, 230, 176);
    
    background-size:contain;
    background-repeat:no-repeat;
    background-position-x: -10px;
    border-radius: 5vh;
    box-shadow: 0px 4px 10px -4px #C1ACBA;
}

.charHolder {
    margin: 25vh;
    margin-top: 4vh;
    width: 50%;
    height: 70vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.charHolder2 {
    margin-top: 7vh;
    width: 500%;
    height: 70vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.sides {
    
    background-color: white;
    width: 5vw;
    height: 81%;
    position: fixed;
    z-index: 10;

}

.sLeft{
    margin-left: -5.1vw;
}

.sRight{
    margin-left: 90.4vw;
}

.charBox {
    margin: 5px;
    position: relative;
    height: 90%;
    width: 20vw;
    border: var(--border) 2px;
    border-style: solid;
    z-index: 1;
    box-shadow: 0px 4px 10px -4px #C1ACBA;
    transition: 0.5s;
}

.charBox:hover {
    margin-top: -0.5%;
    height: 95%;
    width: 25vw;
}

.orange{
    background-color: rgba(255, 166, 0, 0.774);
}

.purple {
    background-color: rgba(162, 0, 255, 0.774);
}

.blue {
    background-color: rgba(0, 81, 255, 0.774);
}

.green {
    background-color: rgba(0, 255, 55, 0.774);
}

.white {
    background-color: rgba(126, 126, 126, 0.774);
}

.owned{
    display: none;
}

.actionButton {
    position : absolute;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 100px;
    height: 40px;
    border: var(--border) solid 2px;
    border-radius: 20px;
    background-color: rgb(199, 10, 10);
    color: white;  
}

.actionButton:hover{
    transition: 0.1s;
    background-color: rgb(230, 57, 57);
}

.switch{
    position : fixed;
    left:6vw;
    top:14vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 120px;
    height: 50px;
    border: var(--border) solid 2px;
    border-radius: 25px;
    background-color:#412234;
    color: white; 
    z-index: 5;
}

.switch:hover{
    transition: 0.1s;
    background-color:#A7A7A7;
}

.currency{
    position : fixed;
    top:14vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 120px;
    height: 50px;
    border: var(--border) solid 2px;
    border-radius: 25px;
    background-color:#412234;
    color: white;   
    z-index: 5;
}

#rolls{
    left:80vw;
}

#credits{
    left:87.5vw;
}


.lastB {
    margin-right: 5vw;
}

.charImage {
    width: 100%;
    height: 60%;
    border-bottom: var(--border) 2px;
    border-bottom-style: solid;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    background-position: center;
}

.CharName{
    font-size: 24px;
}


.stars {
    font-style: normal;
    color: rgb(255, 255, 255);
}

.underline {
    color: #412234;
    font-style: normal;
    text-decoration: underline;
}


#profilePop{
    position : fixed;
    display: none;
    top:14vh;
    left: 25vw;
    justify-content: center;
    align-items: center;    
    width: 50vw;
    height: 50vh;
    border: var(--border) solid 2px;
    border-radius: 25px;
    background-color:#A7A7A7;
    color: white;   
    z-index: 20;
}

.noM {
    margin: 1vh;
}

#username{
    margin: 1vh;
    font-size: 48px;
}

#email{
    font-size: 32px;
}

.gachaScreen {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2e405286;
    display: none;
    z-index: 19;
}

.featuredIMG {
    background-image: url(Chiyo-Chichi.png);
    background-size: 70%;
}

#mew{
    background-image: url('https://product-images.tcgplayer.com/fit-in/437x437/477057.jpg');

}

#char{
    background-image: url('https://product-images.tcgplayer.com/fit-in/437x437/452034.jpg');

}

#ray{
    background-image: url('https://product-images.tcgplayer.com/fit-in/437x437/91206.jpg');

}





